body {
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background: #fcfcfc;
    overflow: hidden;
}

h1 {
    margin-bottom: 10px; 
}

h3 {
    font-size: 14pt;
}

h5 {
    font-size: 12pt;
}

#optionsToggle {
    width: 40px;
    height: 40px;
}

#scatterdiv {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: calc(100vh - 40px);
}

#writeup {
    position: absolute;
    width: 60%;
    top: calc(100vh - 74px);
    margin-left: 60px;
    margin-top: 20px;
}

.scatterplot {
    float: left;
    width: calc(100% - 200px - 40px - 350px);
    height: 65%;
}

.icicle {
    float: left;
    width: calc(100% - 20px - 350px);
    top: 65%;
    height: 35%;
}

.icicle_label {
    font-size: 11px;
    font-weight: 600;
}

.icicle_number {
    font-size: 10px;
}


.scatterplot circle {
    cursor: pointer;
}

.sunburst {
    position: absolute;

    bottom: 0px;
    right: 0px;

    width: 350px;
    height: 350px;
}

.palette,
#info {
    position: absolute;
    z-index: 1001;
    background: white;
    width: 788px;
    height: 140px;
    transform: translate(50%, -50%);
    top:  50%;
}

#info {
    height: auto;
    padding: 20px;
}

.x {
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    -moz-user-select: none;
    cursor: pointer;
    right: 20px;
    top: 20px;
}

#infoC.closed {
    visibility: hidden;
}

.palette rect {
    cursor: pointer;
}

#paletteC, 
#infoC {
    background: rgba(0, 0, 0, 0.35);
    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#paletteC.closed {
    visibility: hidden;
}

.legendC {
    width: 200px;
    height: 65%;
    top: 50px;
    right: 0%;
    position: absolute;
    float: right;
    padding-right: 20px;
}

.legend {
    width: 200px;
    height: 100%;
}


.legend rect {
    cursor: pointer;
}

#optionsPanel {
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    background: #f8f8f8;
    height: 100vh;
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */
    transition: left 0.15s, box-shadow 0.15s, background 0.15s;
    overflow: hidden;
    z-index: 2;
    padding-top: 40px;
    box-shadow: 1px 0px 14px 1px #0000004d;
    /* border-right: 1px #0000004d solid; */
}

#optionsPanel.closed {
    left: -360px;
    box-shadow: 1px 0px 0px 0px #00000000;
    background: #fcfcfc00;
}

#options {
    width: 400px;
    position: absolute;
    opacity: 1;
    transition: opacity 0.15s;
}

#options span {
    display: inline-block;
    padding: 20px;
}

#optionsPanel.closed #options {
    opacity: 0;
}

.parallelC {
    float: left;
    width: 350px;
    height: 100%;
}

.parallelC path {
    fill: none;
    stroke-width: 1px;
}

.parallelC .xAxi {
    -moz-user-select: none;
    cursor: crosshair;
}

.parallelC  .filters line {
    stroke: orange;
    stroke-width: 4px;
    transition: stroke-width 0.15s;
    cursor: grab;
    /* pointer-events: none; */
}

.parallelC .filters line:active {
    cursor: grabbing; 
}

.parallelC .filters .filterBox:hover line {
    stroke-width: 14px;
}

.resizer {
    cursor: col-resize;
    fill: transparent;
}

.xAxi g {
    pointer-events: none;
}

.parallelC .background {
    opacity: 0.08;
    visibility: hidden;
}

.parallelC .background .filtered,
.parallelC .forground {
    visibility: visible;
}

.parallelC .forground .filtered {
    visibility: hidden;
}


.lasso path {
    stroke: rgb(80,80,80);
    stroke-width:2px;
}

.lasso .drawn {
    fill-opacity:.05 ;
}

.lasso .loop_close {
    fill:none;
    stroke-dasharray: 4,4;
}

.lasso .origin {
    fill:#3399FF;
    fill-opacity:.5;
}

.not_possible {
    fill: rgb(200,200,200);
}

.possible {
    fill: #EC888C;
}

.xAxi .title {
    fill: black;
    transform: translate(0px, -10px);
    text-anchor: start;
    font-size: 13px;
    font-weight: 700;
    -moz-user-select: none;
    pointer-events: none;
    opacity: 0;
    /* transition: opacity 0.25s; */
}

.xAxi:first-of-type .title {
    opacity: 1;
}

.xAxi path {
    -moz-user-select: none;
    pointer-events: none;

}

.xAxi text {
    text-shadow: -1px -1px 0px white,
    1px -1px 0px white,
    -1px 1px 0px white,
    1px 1px 0px white;
 }

.xAxi:hover .title {
    opacity: 1;
}

#tooltip {
  position: absolute;
  left: 410px;
  top: 410px;
  pointer-events: none;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  z-index: 999;
}




/* Source: https://codepen.io/vikrantnegi007/pen/ObbXeZ */

#optionsToggle+label {
    cursor: pointer;
    display: inline-block;
    height: 23px;
    position: absolute;
    top: 0;
    right: 0;
}

.optionsToggle {
    padding: 8px;
}

#optionsToggle+label .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: black;
    margin: 4px;
    /* transition: all 0.15s; */
}

#optionsToggle+label .top-bar {
    transform: rotate(0);
}

#optionsToggle+label .middle-bar {
    opacity: 1;
}


#optionsToggle:checked+label .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

#optionsToggle:checked+label .middle-bar {
    opacity: 0;
}

#optionsToggle:checked+label .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

#optionsPanel::-webkit-scrollbar {
    display: none;
}

#tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    /* height: 75px; */
    /* width: 120px; */
    transform: translate(-50%, -100%);
    pointer-events: none;
    color: white;
    font-family: 'futura';
    text-align: center;
    font-size: 12px;
    padding: 8px;
    display: none;
    border-radius: 2px;

}

/* Source: https://css-tricks.com/snippets/css/css-triangle/ */
#tooltip::after {
    content: " ";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transform: translate(-50%, 0);
    border-top: 10px solid rgba(0, 0, 0, 0.8);
}

#tooltip .title {
    font-size: 14px;
    font-weight: 700;
}

#tooltip span {
    font-weight: 500;
    font-size: 11px;
}

#tooltip .value {
    display: inline-block;
    padding-top: 8px;
}

#tooltip .value p span {
    float: right;
    padding-left: 10px;
}

#tooltip .value p {
    text-align: left;
    margin:0;
}


nav {
    display: inline-block;
    height: 40px;
    width: 100%;
}

nav h1 {
    padding: 0;
    margin: 11px 0;
    padding-left: 40px;
    float: left;
    font-size: 20px;
}

#clearFilters {
    float: right;
    border: none;
    background: orange;
    height: 30px;
    /* margin-right: 14px; */
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.35s;
    padding: 0 10px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 20px;
}

#clearFilters:disabled,
#clearFilters:disabled:hover {
    background: rgba(211, 211, 211, 0.514);
    color: rgb(163, 163, 163);
    /* cursor: default; */
}

#clearFilters:hover {
    background: rgba(255, 166, 0, 0.774);
}

#clearFilters:active {
    background: darkorange;
}

.legendC label {
    font-size: 13px;
    font-weight: 700;
    width: 100%;
    display: inline-block;
}

#colorSelector {
    width: 192px;
    margin: 8px 0px;
}

.legend text {
    cursor: pointer;
}