body {
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

#optionsToggle {
    width: 40px;
    height: 40px;
    /* Replace with an icon */
}

#scatterdiv {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.scatterplot {
    width: 80%;
    height: 80%;
}

#optionsPanel {
    position: absolute;
    right: 0;
    width: 400px;
    background: lightgray;
    height: 100%;
    overflow-y: scroll;
    transition: right 0.15s;
    z-index: 2;
}

#optionsPanel.closed {
    right: -360px;
}

#options {
    opacity: 1;
    transition: opacity 0.15s;
}

#optionsPanel.closed #options {
    opacity: 0;
}

.parallelC {
    width: 100%;
    height: 900px;
}

.parallelC path {
    fill: none;
    stroke-width: 1px;
}

.parallelC .xAxi {
    -moz-user-select: none;
    cursor: crosshair;
}

.parallelC  .filters line {
    stroke: orange;
    stroke-width: 4px;
    transition: stroke-width 0.15s;
    cursor: grab;
    /* pointer-events: none; */
}

.parallelC .filters line:active {
    cursor: grabbing; 
}

.parallelC .filters g:hover line {
    stroke-width: 14px;
}

.resizer {
    cursor: col-resize;
    fill: transparent;
}

.xAxi g {
    pointer-events: none;
}

.parallelC .background {
    opacity: 0.08;
    visibility: hidden;
}

.parallelC .background .filtered,
.parallelC .forground {
    visibility: visible;
}

.parallelC .forground .filtered {
    visibility: hidden;
}


.lasso path {
    stroke: rgb(80,80,80);
    stroke-width:2px;
}

.lasso .drawn {
    fill-opacity:.05 ;
}

.lasso .loop_close {
    fill:none;
    stroke-dasharray: 4,4;
}

.lasso .origin {
    fill:#3399FF;
    fill-opacity:.5;
}

.not_possible {
    fill: rgb(200,200,200);
}

.possible {
    fill: #EC888C;
}

.xAxi .title {
    fill: black;
    transform: translate(0px, -10px);
    text-anchor: start;
    font-size: 13px;
    font-weight: 700;
    -moz-user-select: none;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.25s;
}

.xAxi path {
    -moz-user-select: none;
    pointer-events: none;

}

.xAxi text {
    text-shadow: -1px -1px 0px white,
    1px -1px 0px white,
    -1px 1px 0px white,
    1px 1px 0px white;
 }

.xAxi:hover .title {
    opacity: 1;
}

