body {
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

#optionsToggle {
    width: 40px;
    height: 40px;
    /* Replace with an icon */
}

#optionsPanel {
    position: absolute;
    right: 0;
    width: 400px;
    background: lightgray;
    height: 100%;
    overflow-y: scroll;
    transition: right 0.15s;
}

#optionsPanel.closed {
    right: -360px;
}

#options {
    opacity: 1;
    transition: opacity 0.15s;
}

#optionsPanel.closed #options {
    opacity: 0;
}

.parallelC {
    width: 100%;
    height: 900px;
}

.parallelC path {
    fill: none;
    stroke-width: 1px;
}

.parallelC .xAxi {
    -moz-user-select: none;
    cursor: crosshair;
}

.parallelC  .filters line {
    stroke: orange;
    stroke-width: 4px;
    transition: stroke-width 0.15s;
    cursor: grab;
    /* pointer-events: none; */
}

.parallelC .filters line:active {
    cursor: grabbing; 
}

.parallelC .filters line:hover {
    stroke-width: 14px;
}

.xAxi g {
    pointer-events: none;
}

.parallelC .background {
    opacity: 0.08;
    visibility: hidden;
}

.parallelC .background .filtered,
.parallelC .forground {
    visibility: visible;
}

.parallelC .forground .filtered {
    visibility: hidden;
}

.xAxi .title {
    fill: black;
    transform: translate(0px, -10px);
    text-anchor: start;
    font-size: 13px;
    font-weight: 700;
    -moz-user-select: none;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.25s;
}

.xAxi path {
    -moz-user-select: none;
    pointer-events: none;

}

.xAxi text {
    text-shadow: -1px -1px 0px white,
    1px -1px 0px white,
    -1px 1px 0px white,
    1px 1px 0px white;
 }
.xAxi:hover .title {
    opacity: 1;
}